.preview-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  padding: 90px 0 140px;

  .card-1,
  .card-2,
  .card-3 {
    width: 658px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .card-1 {
    height: 640px;
    background-image: url("/bg-image-gelik.png");

    h1 {
      font-size: 24px;
      letter-spacing: 0.12em;
      padding: 30px 30px;
    }

    button {
      position: absolute;
      bottom: 0;
      right: 0;
      font-size: 14px;
      letter-spacing: 0.12em;
      backdrop-filter: blur(4px);
      background: rgba(255, 255, 255, 0.01);
      border: 1px solid #4f4f4f;
      border-radius: 10px;
      color: #fff;
      padding: 23px 44px;
      margin: 30px 30px;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        opacity: 0.9;
        backdrop-filter: blur(100px);
      }
    }
  }

  .wrapper-cards {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .card-2 {
    max-width: 658px;
    height: 308px;
    background-image: url("/bg-image-disk.png");

    h1 {
      font-size: 24px;
      letter-spacing: 0.12em;
      padding: 30px 30px;
    }

    button {
      position: absolute;
      bottom: 0;
      right: 0;
      font-size: 14px;
      letter-spacing: 0.12em;
      backdrop-filter: blur(4px);
      background: rgba(255, 255, 255, 0.01);
      border: 1px solid #4f4f4f;
      border-radius: 10px;
      color: #fff;
      padding: 23px 44px;
      margin: 30px 30px;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        opacity: 0.9;
        backdrop-filter: blur(100px);
      }
    }
  }

  .card-3 {
    height: 308px;
    background-image: url("/bg-image-buggati.png");

    h1 {
      font-size: 24px;
      letter-spacing: 0.12em;
      padding: 30px 30px;
    }

    button {
      position: absolute;
      bottom: 0;
      right: 0;
      font-size: 14px;
      letter-spacing: 0.12em;
      backdrop-filter: blur(4px);
      background: rgba(255, 255, 255, 0.01);
      border: 1px solid #4f4f4f;
      border-radius: 10px;
      color: #fff;
      padding: 23px 44px;
      margin: 30px 30px;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        opacity: 0.9;
        backdrop-filter: blur(100px);
      }
    }
  }
}
