:root {
  --font-family: "Eurostile Extended", sans-serif;
  --second-family: "Inter", sans-serif;
  --bg-body: #f1f0eb;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  font-family: var(--font-family);
  background: var(--bg-body);
  color: var(--white);
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 20px;
}

.bg-wrapper {
  background-image: url("/bg-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 780px;

  .preview-words {
    display: flex;
    flex-direction: column;
    padding: 170px 50px;
  }

  .preview-words span:first-child {
    font-weight: 700;
    font-size: 49px;
  }
  .preview-words span:last-child {
    font-size: 39px;
    letter-spacing: 0.01em;
  }
}
