.sort-cars {
  display: flex;
}

.sort {
  background: #fff;
  width: 500px;
  padding: 10px;

  .header-sort {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      border-radius: 20px;
      padding: 5px 10px;
      border: 1px solid gray;
      background: none;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background: gray;
        color: #fff;
      }
    }
  }

  .sort-title {
    padding: 25px 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    color: #000;
  }

  .sort-items {
    padding-top: 7px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 13px;
    gap: 5px;
  }

  .sort__price-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    padding: 30px 20px 0;

    button {
      padding: 10px 20px;
      border: 1px solid gray;
      border-radius: 20px;
      cursor: pointer;
      transition: 0.4s;

      &:hover {
        background: gray;
        color: #fff;
      }
    }
  }

  .sort__price-item h1 {
    font-size: 16px;
    border-bottom: 1px dashed #000;
    color: #000;
  } 
}

.sort-cards-cars {
  padding: 60px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: flex-start;
  gap: 25px;
  color: #000;
}
