.sort-cars {
  display: flex;
}

.sort {
  background: #fff;

  width: 100%;
  max-width: 500px;

  padding: 10px;

  .filter-sort-container {
    max-width: 480px;
    margin: 0 auto;
  }

  .header-sort {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      border-radius: 20px;
      padding: 5px 10px;
      border: 1px solid gray;
      background: none;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background: rgb(209, 209, 209);
        color: #fff;
      }
    }
  }

  .sort-title {
    padding: 25px 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    color: #000;
  }

  .sort-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  .sort__price-item {
    padding: 30px 20px 0;

    .sort__btns {
      padding-top: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    button {
      padding: 10px 25px;
      border: 1px solid gray;
      border-radius: 20px;
      cursor: pointer;
      transition: 0.4s;

      &:hover {
        background: rgb(209, 209, 209);
        color: #fff;
      }
    }

    button.active {
      background: rgb(182, 182, 182);
      color: #fff;
    }
  }

  .sort__price-item h1 {
    text-align: center;
    padding-bottom: 10px;
    font-size: 16px;
    border-bottom: 1px solid #000;
    color: #000;
  }
}

.sort-cards-cars {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  color: #000;
}

@media (min-width: 1280px) and (max-width: 1440px) {
  .sort-cards-cars {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1024px) {
  .sort {
    width: 280px;
  }
  .sort-cards-cars {
    padding: 40px;
    grid-template-columns: repeat(2, 1fr);
  }
  .sort .sort__price-item .sort__btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

@media (max-width: 1000px) {
  .sort .header-sort button {
    padding: 5px 10px;
    font-size: 12px;
  }
  .sort .sort__price-item .sort__btns button {
    font-size: 10px;
    padding: 5px 10px;
  }
  .sort-cards-cars {
    padding: 20px;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .sort {
    width: 100%;
  }
  .sort-cars {
    display: block;
  }
  .sort-cards-cars {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
}
